@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Pattaya&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;700&display=swap");
@media (min-width: 42em) {
  * {
    box-sizing: border-box;
  }

  main {
    padding: 0 10rem 5rem;
  }

  .hero {
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
  }

  .middle {
    padding: 10rem 15rem;
  }

  .profile-card {
    margin-right: 3em;
  }

  #portfolio-cards {
    flex-direction: row;
  }

  #hero-heading {
    font-size: 4rem;
  }

  #email-heading {
    font-size: 4rem;
  }

  #middle-heading {
    font-size: 4rem;
  }

  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .middle--second {
    padding: 8rem 15rem;
  }

  .middle--second img {
    margin: 5px;
  }

  .box {
    padding-bottom: 100%;
  }

  .main-card {
    margin-left: 50px;
    padding: 20px;
  }

  .middle--second #good {
    font-size: 55px;
  }
}
:root {
  --width: 100vw;
  --full-width: 100vw;
  --angle: -11deg;
  /*-----------------
  Magic Number Alert:
  the 0.09719 is calculated by this formula:
  tan(11°) / 2
  11° is the current skewY value.
  ------------------*/
  --magic-number: 0.09719;
  --skew-padding: calc(var(--width) * var(--magic-number));
  --clip-padding: calc(var(--full-width) * var(--magic-number));
}
@media (min-width: 42em) {
  :root {
    --width: 42rem;
  }
}

body {
  background: conic-gradient(at top right, snow, mistyrose) no-repeat;
  background-size: 100% cover;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
}

nav {
  color: darkseagreen;
  font-family: "Pattaya", sans-serif;
  font-weight: 200;
  font-size: 2.3rem;
  height: 100px;
  display: block;
  z-index: 1;
  margin: 10px 0 20px 0;
  padding: 20px 50px 0 50px;
  animation: opacity 0.7s;
  animation-timing-function: ease;
}
nav span {
  margin: 0 auto;
  justify-self: center;
  align-self: center;
  color: tomato;
  text-align: center;
  font-size: 11px;
  font-weight: 700;
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase;
}

main {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  margin-left: 1rem;
  margin-right: 1rem;
  justify-content: center;
  animation: opacity 0.5s;
  animation-timing-function: ease;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  50% {
    transform: translateY(-20px);
    opacity: 0.6;
  }
}
.hero {
  flex-direction: row;
  margin: 1rem 0 0 0;
  padding: 0px;
}
.hero ul, .hero li {
  list-style: none;
}
.hero .brand {
  color: darkseagreen;
  font-family: "Pattaya", sans-serif;
  text-transform: lowercase;
  font-weight: 100;
  text-align: left;
  height: 15px;
}

.socialIcon a {
  text-decoration: none;
}

/* Graph */
#stacked-graph-1 {
  margin-top: 50px;
  font-size: 9px;
  text-align: left;
  font-weight: 200;
  height: 200px;
  max-width: 400px;
  margin: 0 auto;
  --color-1: mistyrose;
  --color-2: gainsboro;
}

.profile-card {
  background-color: snow;
  border-radius: 15px;
  padding: 20px;
  gap: 20px;
  height: 420px;
  padding-bottom: 1px;
}

.card-heading {
  display: flex;
  flex-direction: row;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 200;
  font-size: 16px;
  gap: 20px;
  margin-bottom: 20px;
}

.card-middle {
  display: flex;
  flex-direction: row;
}
.card-middle ul, .card-middle li {
  font-size: 9px;
  text-transform: uppercase;
}

.sub {
  font-size: 12px;
}

figure {
  width: 100px;
  /*container-width*/
  height: 100px;
  overflow: hidden;
  /*hide bounds of image */
  margin: 0;
  /*reset margin of figure tag*/
  border-radius: 50%;
}

figure img {
  display: block;
  /*remove inline-block spaces*/
  margin: -75% -25.5%;
  /*add to other styles*/
  width: 155%;
}

.main-card {
  margin-left: 15px;
  padding: 15px;
  color: black;
}
.main-card .main-card-heading {
  font-size: 2rem;
  color: darkseagreen;
  font-weight: 200;
}
.main-card .main-card-heading span {
  font-weight: 700;
}

.main-btn-section button {
  border: 0;
  border-radius: 10px;
  width: 120px;
  height: 40px;
  background-color: darkseagreen;
}
.main-btn-section button:hover {
  opacity: 1;
  color: white;
  background: conic-gradient(at top right, darkseagreen, darkseagreen);
}

.middle {
  background-color: snow;
}

.iam {
  text-align: center;
  font-size: 2rem;
  color: darkseagreen;
  font-weight: 200;
}

.middle h3 {
  font-weight: 200;
  text-align: center;
  font-size: 14px;
  color: gray;
}

.middle span {
  font-weight: 700;
  color: darkseagreen;
}

.middle span:nth-child(2) {
  font-weight: 700;
  color: lightblue;
}

.portfolio-cards {
  margin-top: 1em;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.portfolio-card {
  margin: 0 auto;
  background-color: snow;
  padding: 20px;
  border: 1px solid #eee;
  border-radius: 20px;
  width: 550px;
}

.portfolio-card:nth-child(n):hover {
  transform: translateY(2px);
  box-shadow: 3pt 3pt 0 0pt lightblue;
}

.portfolio-card-discovery {
  text-align: center;
  font-weight: 700;
  color: gray;
  text-transform: uppercase;
  padding: 20px;
}

.diagonal-box {
  position: relative;
  padding: var(--skew-padding) 0;
  margin-top: -1px;
  background: snow;
}
.diagonal-box:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transform: skewy(var(--angle));
  transform-origin: 50% 0;
  outline: 1px solid transparent;
  backface-visibility: hidden;
}

.bg-one:before {
  background: conic-gradient(at top right, mistyrose, lightblue);
}

.content {
  max-width: var(--width);
  margin: 0 auto;
  padding: 1.5em;
  padding-top: 0;
  position: relative;
  margin-bottom: 5.5em;
  /* -----------
  enable the border to see, that the content
  perfectly fits into the section withou
  bleeding into the adjecting areas:
  ------------ */
}

.boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3%;
  --translation: 0;
}
.boxes p {
  font-size: 10px;
}
.boxes .box {
  padding-top: 0px;
  text-transform: uppercase;
  font-weight: 700;
  color: snow;
  text-align: center;
  width: 100%;
  height: 0;
  padding-bottom: 85%;
  border: 1px solid #fff;
  border-radius: 20px;
  transform: translateY(var(--translation));
}
.boxes .box:nth-child(1) {
  --translation: calc(var(--skew-padding) * 1.5);
}
.boxes .box:nth-child(2) {
  --translation: calc(var(--skew-padding) * 1);
}
.boxes .box:nth-child(3) {
  --translation: calc(var(--skew-padding) * 0.5);
}

.box i {
  margin: 0 auto;
  align-self: center;
  color: snow;
  text-align: center;
  margin: 0 auto;
}

.dot {
  background-color: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: gray;
  text-align: left;
  margin: 0;
  padding-bottom: 2px;
  display: block;
  margin-bottom: 25px;
}
.dot span {
  margin-left: 9px;
}

.middle--second {
  background-color: snow;
  padding: 5rem 3rem;
  display: flex;
  flex-direction: column;
}
.middle--second p {
  margin-top: 25px;
  font-size: 2rem;
  font-weight: 300;
  color: darkseagreen;
  text-align: center;
}
.middle--second span {
  font-weight: 700;
}
.middle--second img {
  width: 64px;
  margin: 2px;
}
.middle--second img:hover {
  transform: translateY(5px);
}
.middle--second .adobe {
  margin: 0 auto;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip-right {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip-right .tooltiptext-right {
  visibility: hidden;
  width: 120px;
  background-color: darkseagreen;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  top: -3px;
  left: 105%;
  margin-left: -60px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

.tooltip-right:hover .tooltiptext-right {
  visibility: visible;
}

.tooltip-right .tooltiptext-right::after {
  content: " ";
  position: absolute;
  top: 3px;
  /* At the bottom of the tooltip */
  right: 99%;
  margin-left: -7px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent darkseagreen transparent transparent;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: lightblue;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%;
  /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: lightblue transparent transparent transparent;
}

.email {
  display: flex;
  flex-direction: column;
  margin: 50px 20px 80px;
  padding: 70px;
}

.email p {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  color: darkseagreen;
  margin: 5px;
}

.email h4 {
  margin-top: 0;
  text-align: center;
  font-weight: 300;
  color: gray;
}

.email button {
  margin: 0 0 20px;
  align-self: center;
  border: 0;
  border-radius: 10px;
  width: 120px;
  height: 40px;
  background-color: darkseagreen;
  color: snow;
}
.email button:hover {
  opacity: 1;
  color: white;
  background: conic-gradient(at top right, darkseagreen, darkseagreen);
  transform: translateY(2px);
  box-shadow: 3pt 3pt 0 0pt lightblue;
}

.footer {
  margin-left: 50px;
  justify-content: center;
  justify-self: center;
  margin-top: 30px;
  margin-bottom: 80px;
  justify-items: center;
  color: mistyrose;
  font-size: 14px;
}
.footer h3 {
  font-size: 22px;
}
.footer i {
  margin: 5px;
  margin-bottom: 25px;
}
.footer i:hover {
  transform: translateY(2px);
  opacity: 0.8;
}

.sns a {
  text-decoration: none;
}

footer {
  background: conic-gradient(at top left, snow, black) no-repeat;
}
footer p {
  text-transform: uppercase;
  color: mistyrose;
  font-size: 11px;
  text-align: center;
  margin: 0;
  padding: 0;
  align-self: end;
}

/*# sourceMappingURL=main.css.map */
